<div class="pagination-container">
    <% if (currentPage > 1) { %>
    <a href="?page=<%= currentPage - 1 %>">&laquo; Previous</a>
    <% } %> <% for (let i = 1; i <= totalPages; i++) { %> <% if (i ===
    currentPage) { %>
    <span class="current-page"><%= i %></span>
    <% } else { %>
    <a href="?page=<%= i %>"><%= i %></a>
    <% } %> <% } %> <% if (currentPage < totalPages) { %>
    <a href="?page=<%= currentPage + 1 %>">Next &raquo;</a>
    <% } %>
    </div>